html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.top-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.top-section > * {
  flex: 1;
}

.header, .about {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 20px;
}
